In [1]:
import setup_django
setup_django.init()

In [2]:
# import requests

# response = requests.get('http://localhost:8000/hello/')
# print(response.text)

In [25]:
from gym.models import Workout
from ratings.models import Rating


qss = Rating.objects.all().values('trainee', 'object_id', 'value')

# qs = Workout.objects.all().values('name', 'instructions', 'is_public', 'image', 'trainee',
#                                   'rating_last_updated', 'rating_count', 'rating_avg')

In [26]:
qss

<RatingQuerySet [{'trainee': 524, 'object_id': 1145, 'value': 5}, {'trainee': 1459, 'object_id': 447, 'value': 3}, {'trainee': 1279, 'object_id': 311, 'value': 5}, {'trainee': 1127, 'object_id': 1205, 'value': 1}, {'trainee': 515, 'object_id': 1343, 'value': 5}, {'trainee': 635, 'object_id': 1668, 'value': 5}, {'trainee': 228, 'object_id': 966, 'value': 3}, {'trainee': 331, 'object_id': 1868, 'value': 2}, {'trainee': 70, 'object_id': 989, 'value': 2}, {'trainee': 1298, 'object_id': 1250, 'value': 3}, {'trainee': 1300, 'object_id': 1533, 'value': 3}, {'trainee': 573, 'object_id': 1462, 'value': 2}, {'trainee': 23, 'object_id': 151, 'value': 1}, {'trainee': 1140, 'object_id': 1158, 'value': 1}, {'trainee': 584, 'object_id': 667, 'value': 1}, {'trainee': 1415, 'object_id': 606, 'value': 2}, {'trainee': 486, 'object_id': 1188, 'value': 5}, {'trainee': 1062, 'object_id': 1615, 'value': 5}, {'trainee': 132, 'object_id': 556, 'value': 5}, {'trainee': 1848, 'object_id': 416, 'value': 5}, '...(remaining elements truncated)...']>

In [27]:
import pandas as pd

In [30]:
df = pd.DataFrame(qss)
df.head(n=20)

    trainee  object_id  value
0       524       1145      5
1      1459        447      3
2      1279        311      5
3      1127       1205      1
4       515       1343      5
5       635       1668      5
6       228        966      3
7       331       1868      2
8        70        989      2
9      1298       1250      3
10     1300       1533      3
11      573       1462      2
12       23        151      1
13     1140       1158      1
14      584        667      1
15     1415        606      2
16      486       1188      5
17     1062       1615      5
18      132        556      5
19     1848        416      5

In [6]:
qs.first()

{'name': 'Chest Day',
 'instructions': '5 sets of 5 reps each for bench press, incline bench press, and dumbbell flyes',
 'is_public': True,
 'image': '',
 'trainee': 1,
 'rating_last_updated': datetime.datetime(2023, 5, 17, 11, 46, 52, 386123, tzinfo=datetime.timezone.utc),
 'rating_count': 7,
 'rating_avg': Decimal('3.71')}

In [32]:
# df.to_csv()
df.to_csv('data.csv', index=False)